simplified_ui true
pane_frames true

layout {
    default_tab_template {
        children
        pane size=1  borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode}#[fg=black]{tabs}"
                format_center ""
                format_right  "#[fg=#6867AF,bold] {command_target} | {command_tun0ip} | {datetime}#[fg=cyan]↖ "
                format_space  "#[fg=yellow] "

                // {session}
                hide_frame_for_single_pane "false"
                border_enabled  "false"
                mode_normal  "#[fg=yellow] NORMAL   "
                mode_locked  "#[fg=red] LOCKED   "
                mode_tmux    "#[fg=cyan] TMUX    "
                mode_pane    "#[fg=#a6d189] PANE  "
                mode_scroll  "#[fg=#f5c2e7] SCROLL  "

                // formatting for inactive tabs
                tab_normal              "#[fg=#6C7086]{name}"
                tab_normal_fullscreen   "#[fg=#6C7086]{name}"
                tab_normal_sync         "#[fg=#6C7086]{name}"

                // formatting for the current active tab
                tab_active              "#[fg=blue,bold]{name}#[fg=yellow,bold] {floating_indicator}"
                tab_active_fullscreen   "#[fg=yellow,bold]{name}#[fg=yellow,bold] {fullscreen_indicator}"
                tab_active_sync         "#[fg=green,bold]{name}#[fg=yellow,bold] {sync_indicator}"

                // separator between the tabs
                tab_separator           "#[fg=cyan,bold] ⋮ "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " "
                tab_floating_indicator   ""

                datetime        "#[fg=yellow]{format} "
                datetime_format "󰚄 %I:%M %P"
                datetime_timezone "US/Eastern"

                command_tun0ip_command  "bash -c \"ip -4 addr show tun0 | awk '/inet/ {print $2}' | cut -d/ -f1 \""
                command_tun0ip_format   "#[fg=cyan, bg=black] 󰢚 {stdout}"
                command_tun0ip_interval "5"
                command_tun0ip_rendermode "static"

                command_target_command  "cat /tmp/target_value.tmp"
                command_target_format   "#[fg=red, bg=black]   {stdout}"
                command_target_interval "5"
                command_target_rendermode "static"

            }
        }
    }
    //tab name="1" focus=true borderless=true    
    //tab name="2"
    //tab name="3"
    
}
keybinds {
    shared {
        bind "Alt 1" { NewTab; }
        bind "Alt 2" { GoToNextTab; }
        bind "Alt 3" { CloseTab; }
    }
}
